@model ICollection<VolunteerGroup>

@{
    ViewData["Title"] = "BrowseGroups";
}

<h1>BrowseGroups</h1>

<div>
    <h4>VolunteerGroups</h4>
    <table class="table table-bordered">
        <tr>
            <th>
                VolunteerGroup
            </th>
        </tr>
        @foreach (var g in Model)
        {
            <tr>
                <td>@g.GroupName</td>
                <td>
                    <form method="post" asp-controller="Group" asp-action="JoinGroup" asp-route-Id="@g.Id">
                        <input class="btn btn-primary" type="submit" value="Join Group" />
                    </form>
            </tr>
        }
    </table>
    
</div>
