@model GroupDetailsViewModel

@{
    ViewData["Title"] = "GroupPage";
}

<h1>GroupPage</h1>

<div class="container">
    <h4>VolunteerGroup</h4>
    <hr />
    <h4>@Model.Group.GroupName</h4>
    <table class="table table-dark">
        <tr>
            <th>Group Members</th>
        </tr>
        @foreach(var m in Model.GroupMembers)
        {
            <tr>
                <td>@m.FirstName @m.LastName</td>
                <td>@Html.ActionLink("View Profile", "GroupMemberProfile", new { id = m.Id }, new { @class = "btn btn-primary" })</td>
            </tr>
        }
    </table>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
