
@{
    ViewData["Title"] = "Index";
}
<div class="container padding">
    <div class="row text center">
        <div class="col-12 jumbotron">
            <h1 id="Groups">Groups</h1>
        </div>
    </div>
   
    <div class="row text center">
        <div class="col-12">
            <a class="btn btn-primary group-buttons" asp-action="BrowseGroups" role="button">Browse</a>
            <a class="btn btn-primary group-buttons" asp-action="JoinedGroups" role="button">My Groups</a>
            <a class="btn btn-primary group-buttons" asp-action="MyGroups" role="button">Manage</a>
        </div>
    </div>

</div>


