
@{
    ViewData["Title"] = "Index";
}

<h1>Groups</h1>

<a class="btn btn-primary" asp-action="MyGroup" role="button">My Groups</a>
<a class="btn btn-primary" asp-action="BrowseGroups" role="button">Browse Groups</a>
<a class="btn btn-primary" asp-action="createGroup" role="button">Create Group</a>

