
@{
    ViewData["Title"] = "Index";
}

<h1>Groups</h1>

<a class="btn btn-primary" asp-action="BrowseGroups" role="button">Browse Groups</a>
<a class="btn btn-primary" asp-action="JoinedGroups" role="button">Joined Groups</a>
<a class="btn btn-primary" asp-action="MyGroups" role="button">My Groups</a>


