@model List<VolunteerGroup>
@{
    ViewData["Title"] = "JoinedGroups";
}

<h1>Joined Group</h1>
<table class="table table-bordered">
    @foreach (var g in Model)
    {
        <tr>
            <td>@g.GroupName</td>
            <td>@Html.ActionLink("Group Page", "GroupPage", new { id = g.Id }, new { @class = "btn btn-primary" })</td>
        </tr>
    }
    
</table>

