@model VolunteerGroup
@{
    ViewData["Title"] = "JoinedGroups";
}

<h1>Joined Group</h1>

<h2>@Model.GroupName</h2>
@*<table class="table table-bordered">
    @foreach (var g in @Model.GroupMembers)
    {
        <tr>
            <td>@g.FirstName</td>
        </tr>
    }
    
</table>*@

