@model VolunteerEditViewModel

<h1>Edit Profile</h1>

<form asp-action="Profile" method="post">
    <div class="form-group">
        <label asp-for="Volunteer.FirstName"></label>
        <input class="form-control" asp-for="Volunteer.FirstName" />
    </div>
    <div class="form-group">
        <label asp-for="Volunteer.LastName"></label>
        <input class="form-control" asp-for="Volunteer.LastName" />
    </div>
    <div class="form-group">
        <label asp-for="Volunteer.Email"></label>
        <input class="form-control" asp-for="Volunteer.Email" />
    </div>
    <div class="form-group">
        <label asp-for="Volunteer.SkillsAndExperience"></label>
        <input class="form-control" asp-for="Volunteer.SkillsAndExperience" />
    </div>
    <button type="submit" class="btn btn-primary">submit</button>
</form>