@model IEnumerable<JobListing>
@{
    ViewData["Title"] = "TrackedJobs";
}

<h1>TrackedJobs</h1>
<table class="table table-bordered">
    @foreach (var j in Model)
    {
        <tr>
            <td>@j.TypeOfJob</td>
            <td> @Html.ActionLink("Details", "Details", new { id = j.Id }, new { @class = "btn btn-primary" }) @Html.ActionLink("Leave", "LeaveJob", new { id = j.Id }, new { @class = "btn btn-primary" })</td>
        </tr>
    }

</table>


