@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');


.jumbotron
{
    box-shadow: 1px 1px 8px #000;
    border-radius: 10px !important;
}
#Groups
{
    font-size: 500% !important;
}

html, body {
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    color: #222;
}.group-buttons 
{
    margin: 15px;
}
html, body {
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    color: #222;
}
