@model CreateJobViewModel

<h1>CreateJob</h1>

<form asp-action="createJob" method="post">
    <div class="form-group">
        <label asp-for="JobListing.TypeOfJob"></label>
        <input class="form-control" asp-for="JobListing.TypeOfJob" />
    </div>
    <div class="form-group">
        <label asp-for="JobListing.Address"></label>
        <input class="form-control" asp-for="JobListing.Address" />
    </div>
    <div class="form-group">
        <label asp-for="JobListing.City"></label>
        <input class="form-control" asp-for="JobListing.City" />
    </div>
    <div class="form-group">
        <label asp-for="JobListing.State"></label>
        <input class="form-control" asp-for="JobListing.State" />
    </div>
    <div class="form-group">
        <label asp-for="JobListing.Description"></label>
        <input class="form-control" asp-for="JobListing.Description" />
    </div>
    <div class="form-group">
        <label asp-for="JobListing.Date"></label>
        <input class="form-control" asp-for="JobListing.Date" />
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
</form>